@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Kanit:wght@200&family=Tiro+Devanagari+Sanskrit&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  "s h"
  "s c";
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  position: relative;
}


/* PROFILE PICTURES */

img.profile-picture.big {
  width: auto;
  height: 75px;
  border-radius: 50%;
}

img.profile-picture.small {
  width: auto;
  height: 50px;
  border-radius: 50%;
}

/* HEADER */

.header {
  grid-area: h;
  padding: 1.2rem 3.5rem 1.2rem 2.5rem;
  margin-bottom: .5rem;
  box-shadow: 0 .5rem .6rem hsl(214, 32%, 80%);
  height: 180px;
}

.upper-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1rem;
}

.left-upper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 22fr;
  gap: .4rem;
  padding-right: 4rem;
}

.left-upper input {
  background-color: hsl(214, 32%, 91%);
  border: none;
  border-radius: 1rem;
  font-size: 20px;
  height: 2rem;
  padding-left: 10px;
}

.right-upper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.6rem;
  font-weight: bold;
  margin-right: 1.5rem;
}

.lower-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.left-lower {
  display: flex;
}

.right-lower {
  display: flex;
  justify-content: space-evenly;
  gap: 1.2rem;
}

.btn {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  width: 160px;
  cursor: pointer;
  color: white;
  background-color: hsl(199, 89%, 46%);
  border: none;
  border-radius: 3rem;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color: hsl(199, 89%, 53%);
}

.left-lower {
  display: flex;
  gap: 22px;
  align-items: center;
}

.user-greeting p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .3rem;
}

.user-greeting .user-name {
  font-size: 22px;
  font-weight: 900;
}

/* SIDEBAR */

.sidebar {
  grid-area: s;
  background-color: hsl(199, 89%, 46%);
  color: white;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 21px;
  font-weight: 500;
  transition: all 300ms ease-in-out;
  height: 100%;
}

.dashboard-title,
.sections,
.settings {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: .5rem;
  margin-bottom: 2.5rem;
}

.dashboard-title {
  align-items: center;
  font-size: 28px;
}

.sections div.nav-symbols,
.settings div.settings-symbols {
  justify-self: center;
}

.line-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: .8rem;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

/* MAIN CONTENT */

.main-content {
  grid-area: c;
  background-color: hsl(214, 32%, 91%);
  padding: 0 2.4rem 1.2rem 1.2rem;
  display: grid;
  grid-template-columns: 2.8fr 1.2fr;
  grid-template-areas: 
    "cho cht"
    "p a"
    "p t";
  column-gap: 1.6rem;
  padding-top: 3rem;
  height: 100%;
}

.title p{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.content-header-one {
  grid-area: cho;
}

.content-header-two {
  grid-area: cht;
}

/* PROJECTS SECTION */

.projects {
  grid-area: p;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-evenly;
  gap: 2rem;

}

.card {
  background-color: white;
  height: 400px;
  width: 350px;
  display: grid;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 4px 4px 5px hsl(0, 0%, 75%), inset 10px 0 orange;
  
}

.empty-card {
  width: 350px;
}

.card > * {
  margin: 0;
  padding: 0 3rem;
}

.card p,
.card .mark-read {
  margin-top: 1rem;
  color: hsl(0, 0%, 50%);
}

.card h4 {
  font-size: 18px;
  /* padding-top: 2rem; */
}

.title-card {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-top: 0.7rem;
}

button.close-btn,
button.remove-btn {
  align-self: start;
  font-size: 30px;
}

.interaction-symbols {
  justify-self: end;
  margin-top: 1.5rem;
  display: flex;
  gap: 1.8rem;
  padding-bottom: 2rem;
}


/* ANNOUNCEMENTS SECTION */

.announcements {
  grid-area: a;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 4px 4px 5px hsl(0, 0%, 75%);
}

.announcements-blocks {
  display: grid;
  align-items: center;
  row-gap: 1.5rem;
  padding: 2rem;
}

.announcement-card h4,
.announcement-card p {
  margin: 0;
}

.announcement-card p {
  align-self: start;
  font-size: 14px;
  padding-top: .3rem;
  color: hsl(0, 0%, 50%);
}

.announcement-card.central {
  border-bottom: 1px solid hsl(0, 0%, 70%);
  border-top: 1px solid hsl(0, 0%, 70%);
  padding: 1.5rem 0;
}

.announcement-card a {
  color: inherit;
}

.trending {
  grid-area: t;
}

.trending-projects {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: .5rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 4px 4px 5px hsl(0, 0%, 75%);
  justify-content: center;
  padding: .8rem;
}

.trend-grid {
  justify-items: center ;
  display: grid;
  grid-template-rows: repeat(4, 80px);

  gap: .8rem;
  align-items: center;
}

.trend-grid img {
  justify-self: center;
}

.trend-grid .user-project {
  justify-self: start;
}

.user-project p {
  margin: 0;
}

.user-project p+p {
  align-self: start;
  font-size: 16px;
  color: hsl(0, 0%, 50%);
}


/* FORMS */

#fields {
  font-family: 'Tiro Devanagari Sanskrit', serif;
}

.modal label {
  font-size: 21px;
  font-weight: 600;
  color: hsl(0, 0%, 30%);
}

#fields input {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  margin-bottom: 1.5rem;
  border-radius: .3em;
  border: 1px solid hsl(0, 0%, 85%);
  padding-left: .3rem;
  height: 2rem;
  width: 20rem;
  font-size: 18px;
}

input:focus {
  outline: none;
  border: 2px solid hsl(214, 50%, 60%);
}

.mark-read {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  margin: .5rem 0 2rem;
}

.mark-read input#checkbox {
  width: auto;
  margin: 0;
  height: 2rem;
}

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  border: 1px solid black;
  border-radius: .5rem;
  z-index: 10;
  background-color: hsl(214, 32%, 91%);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#close-btn,
.remove-btn {
  padding: 1px 10px 0 0;
  display: grid;
  justify-content: end;
}

.close-btn,
.remove-btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-size: 50px;
  color: hsl(0, 0%, 30%);
}

.fields-modal {
  padding: 0 40px 20px;
}

.add-book-modal {
  text-align: center;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(5px);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  
  .sidebar {
    transition: all 300ms ease-in-out;
    transform: translateX(-100%);
    position: absolute;
    height: calc(100% - 80px);
  }

  .sidebar.menu-active {
    transform: translateX(0);
    z-index: 4;
  }


}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  /* .projects {
    grid-template-columns: 445px;
  } */

  
}